* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*開發時使用 利於辨識邊界*/
    /*border: 1px solid black;*/
}

html,
body {
    margin: 0;
    padding: 0;
    background: #29323b;
}


/* 主色(primary) #29323b */


/* 強調色(accent) #E2C0B9 */


/* 字體顏色 #333 */


/* === general === */

.cv {
    width: 700px;
    margin: 100px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 5;
}

html {
    position: relative;
}

.decoration-box {
    width: 100%;
    height: 400px;
    background: #E2C0B9;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.cv-header,
.cv-body,
.cv-footer {
    padding: 30px 50px;
}

.cv-footer {
    padding: 80px 50px;
}


/* cv-header */

.cv-header {
    background: #ccc;
}

.name {
    font-size: 50px;
    text-transform: uppercase;
}


/* cv-body */

.cv-body {
    background: #fff;
}

.experience {
    padding-top: 20px;
    position: relative;
    border-bottom: 1px dashed #ccc;
}

.experience:last-child {
    border-bottom: none;
}

.logo {
    height: 44px;
    right: 0;
    top: 0;
    position: absolute;
}


/* cv-footer */

.cv-footer {
    background: #29323b;
}

.social-link {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    border: 1px dashed #ccc;
    border-radius: 10px;
    text-decoration: none;
}

.social-link :hover {
    background: rgba(0, 0, 0, .3);
}

.social-link>i {
    color: aliceblue;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    font-size: 35px;
}
